*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom left, lightblue,lightseagreen);
}